body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.spacer {
    margin-top: 1000px;
}

.module-container {
    margin: 200px auto;
    clear: both;
}
    .module-container  h2 {
        clear: both;
        font-family: "FreigSanProBold", Arial,  sans-serif;
        margin-bottom: 40px;
    }
    .clearfix {
        float: none;
        clear: both;
    }

.checkbox-percentage {
    float: left;
    margin: 20px;
}

.checkbox-percentage > div {
    float: left;
}
    .checkbox-container {
        position: relative;
        width: 60px;
        height: 60px;
    }
    .checkbox-container > div {
        position: absolute;
        width: 100%;
        height: 100%;
    }
        .checkbox-container .checkmark{
            display:inline-block;
            z-index: 10;
            right: 0;
            background: url('../images/checkmark.png') no-repeat;
            background-size: 85%;
            background-position: top right;
          
        }
            .checkbox-container .checkbox .checkbox-fill {
                height: 0;
                position: absolute;
                bottom: 0;
                width: 100%;
                -webkit-transition: height .5s ease-out;
                -moz-transition: height .5s ease-out;
                transition: height .5s ease-out;
            }

        /* Color Specific CSS */
        .checkbox-container .checkbox.teal {
            background-color: #98d6e1;
        }
            .checkbox-container .checkbox.teal .checkbox-fill {
                background-color: #29becc;
                /*height: 48%;*/
            }
            .checkbox-container .checkbox.teal .checkbox-fill.fill {
                height: 48%;
            }
        .checkbox-container .checkbox.yellow {
            background-color: #f3d798;
        }
            .checkbox-container .checkbox.yellow .checkbox-fill {
                background-color: #f5bc1c;
                /*height: 24%;*/
            }
            .checkbox-container .checkbox.yellow .checkbox-fill.fill {
                height: 24%;
            }
        .checkbox-container .checkbox.red {
            background-color: #f07c5d;
        }
            .checkbox-container .checkbox.red .checkbox-fill {
                background-color: #ea322a;
                /*height: 22%;*/
            }
            .checkbox-container .checkbox.red .checkbox-fill.fill {
                height: 22%;
            }

    .percentage-container {
        width: 80px;
        margin-left: 10px;
    }
        .percentage-container h2 {
            font-size: 48px;
            font-family: "FreigSanProBold", Arial,  sans-serif;
            margin: 0;
            margin-top: -32px;
            color: #4866a8;

        }
        .percentage-container p {
            font-size: 14px;
            color: #696969;
            font-family: "FreigSanProLight", Arial,  sans-serif;
            margin: 0;
            line-height: 20px;
            margin-top: -7px;
        }
        .percentage-container .percent-symbol {
            font-size: 17px;
            font-family: "FreigSanProLight", Arial,  sans-serif;
        }
/* *** */

/* Circle Graph */
.circle-graph-container {
    position: relative;
    display: block;
    height: 181px;
    width: 181px;
    margin: 0 auto;
}
.circle-graph-container:before{
    content: '';
    display: block;
    height: 181px;
    width: 181px;
    position: absolute;
    background-color: #faefd6;
    border-radius: 100px;
    z-index: -1;
}
    .chart {
      position: absolute;
      display: inline-block;
      text-align: center;
      display: block;
    }
    .chart canvas {
      position: absolute;
      top: 0;
      left: 0;
    }
    .chart-men {
        left: 26px;
        top: 26px;
    }
    .chart .key {
        border-bottom: 2px solid #4866a8;
        position: absolute;
        width: 245px;
        z-index: 11;
    }
    .chart .key p {
      font-size: 17px;
      color: #696969;
      font-family: "FreigSanProLight", Arial,  sans-serif;
      margin: 2px 0px;

    }
    .chart-women .key {
        text-align: left;
        left: -142px;
        top: -60px;
        padding-left: 3px;
    }
    .chart-women .key:before {
        content: '';
        display: inline-block;
        width: 7px;
        height: 7px;
        -moz-border-radius: 7px;
        -webkit-border-radius: 7px;
        border-radius: 7px;
        background-color: #4866a8;
        position: absolute;
        bottom: -4px;
        left: -6px;
    }
    .chart-men .key {
        text-align: right;
        left: 110px;
        top: 20px;
        width: 220px;
        padding-right: 3px;
    }
    .chart-men .key:after {
        content: '';
        display: inline-block;
        width: 7px;
        height: 7px;
        -moz-border-radius: 7px;
        -webkit-border-radius: 7px;
        border-radius: 7px;
        background-color: #4866a8;
        position: absolute;
        bottom: -4px;
        right: -6px;
    }
    .percent {
      display: inline-block;
      line-height: 40px;
      z-index: 2;
      font-family: "FreigSanProBold", Arial,  sans-serif;
      color: #4866a8;
      font-size: 50px;
    }
    .percent:after {
      content: '%';
      margin-left: 0.1em;
      font-size: 20px;
      font-family: "FreigSanProLight", Arial,  sans-serif;
    }

    .fb-icon {
        background: url('../images/facebook-icon.png') center center no-repeat;
        width: 95px;
        height: 95px;
        background-size: contain;
        position: absolute;
        z-index: 10;
        top: 43px;
        left: 43px;
    }

/* *** */


/* Map Module */
.map-container {
    width: 158px;
    height: 97.5px;
    background: url('../images/country.png') no-repeat;
    background-size: contain;
}
    .map-container .dialog {
        position: absolute;
        width: 75px;
        height: 55px;
        padding: 0px;
        background: #e93429;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        margin-left: 16px;
        margin-top: -5px;
        /*transform: scale(0);*/
    }

    .map-container .dialog:after {
        content: '';
        position: absolute;
        border-style: solid;
        border-width: 8px 7px 0;
        border-color: #e93429 transparent;
        display: block;
        width: 0;
        z-index: 1;
        bottom: -8px;
        left: 30px;
        
    }

    .map-container .map-dialog {
        -webkit-transform : scale(0);
        -moz-transform : scale(0);
        -ms-transform : scale(0);
        transform : scale(0);

        -webkit-transform-origin : 50% 100%;
        -moz-transform-origin : 50% 100%;
        -ms-transform-origin : 50% 100%;
        transform-origin : 50% 100%;

        -webkit-transition: transform .5s ease-out;
        -moz-transition: transform .5s ease-out;
        transition: transform .5s ease-out;
    }

    .map-container .map-dialog.grow {
        transform: scale(1);
    }
        .map-container .map-dialog h2 {
            font-family: "FreigSanProBold", Arial,  sans-serif;
            font-size: 32px;
            color: white;
            text-align: center;
            position: relative;
            margin: 0;
        }
        .map-container .map-dialog h2 span {
            font-size: 15px;
            font-family: "FreigSanProLight", Arial,  sans-serif;
        }

/* *** */

/* Phone Fill Module */
.phone-container {
    width: 106px;
    height: 197px;
    background: url('../images/phone.png') no-repeat;
    position: relative;
    background-size: contain;
}
    .phone-container .phone-fill {
        background-color: #29becc;
        width: 90px;
        position: absolute;
        bottom: 35px;
        left: 8px;
        height: 0;
        -webkit-transition: height 1.5s ease-out;
        -moz-transition: height 1.5s ease-out;
        transition: height 1.5s ease-out;
    }
    .phone-container .phone-fill.fill {
        height: 47%;
    }